/* Global Font */
@font-face {
  src: url(fonts/HelveticaNeue-Light.ttf);
  font-family: helvectica neue;
}


* {
    font-family: helvetica neue;
    }

/* Login landing screen */
#LandingButtons{
	font-family: helvetica neue;
	position: absolute;
  text-align: center;
  top: 87%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 1.4vw;
  width: 100vw;
}

#registrationButton {
  background-color: #4B836E;
  color: white;
  text-shadow: none;
  border: none;
}

#loginButton {
  background-color: #5D93CD;
  color: white;
  text-shadow: none;
  border: none;
}

.landingsliderimg {
  width: 100vw; 
  height: 100vh;
}

button.ui-btn.ui-btn-inline {
	width: 45%;
}

.button1 {
	background-color: #d3c208;
}

.ui-link.ui-btn.ui-btn-a.ui-btn-inline.ui-shadow.ui-corner-all {
  width: 37.5%;
}

#popupMenu{
  height: 100%;
  background-color: red;
}

/* REGISTRATION PAGE */


/* HEADER */

.header {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
    height: 44px;
    box-shadow: 0 0 20px 0px #00000042;
}

.header .h1 {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
    height: 44px;
}

.header.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
    background-color: #229aab;
    color: white;
    text-shadow: none;
    font-size: 3vh;
}

.ui-btn-left.ui-link.ui-btn.ui-icon-user.ui-btn-icon-left.ui-shadow.ui-corner-all {
    color: #fff;
    text-shadow:  none;
    background-color: #219aab;
    border-color: #d8d8d8;
    }

#backbutton {
  background: none;
    color: white;
    text-shadow: none;
    border: none;
}


  #registrationForm {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;

  }

/* Hide / Show Forms */
  .hidden {
    display: none;
  }