/* Global Font */
* {
    font-family: helvetica neue;
    }

/* Login landing screen */
#LandingButtons{
	font-family: helvetica neue;
	position: absolute;
  text-align: center;
  top: 87%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 2.2vw;
}

.landingsliderimg {
  width: 100vw; 
  height: 100vh;
}

button.ui-btn.ui-btn-inline {
	width: 45%;
}

.button1 {
	background-color: #d3c208;
}

.ui-link.ui-btn.ui-btn-a.ui-btn-inline.ui-shadow.ui-corner-all {
  width: 37.5%;
}

#popupMenu{
  height: 100%;
  background-color: red;
}