
/* GLOBAL */ 
/*//////////////////////////////////////////////////////*/

* {
    font-family: helvetica neue;
    text-shadow: none;
    }

/*//////////////////////////////////////////////////////*/
/* END OF GLOBAL */



/* LOGIN PAGE */ 
/*//////////////////////////////////////////////////////*/

.logincontent {
    text-align: center;
}

.loginselection {
    margin-left: 10%;
    margin-right: 10%;
}

img#loginlogo {
    width: 40%;
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.loginbox {
    margin: 10%;
    text-align: center;
}

.loginmisc {
    text-align: center;
}

/*//////////////////////////////////////////////////////*/
/* END OF LOGIN PAGE */ 



/*//////////////////////////////////////////////////////*/

/* TEACHER SIDE */ 

/*//////////////////////////////////////////////////////*/


/* HEADER */

.header {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
    height: 44px;
    box-shadow: 0 0 20px 0px #00000042;
}

.header .h1 {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
    height: 44px;
}

.header.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
    background-color: #229aab;
    color: white;
    text-shadow: none;
    font-size: 5vw;
}

.ui-btn-left.ui-link.ui-btn.ui-icon-user.ui-btn-icon-left.ui-shadow.ui-corner-all {
    color: #fff;
    text-shadow:  none;
    background-color: #219aab;
    border-color: #d8d8d8;
    }

/* FOOTER */

#footer {
    height: 7.5vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 7px 20px 7px #00000042;
        }

.ui-nodisc-icon {
    height:7.5vh; 
    padding-top: 4.75vh;
        }

 .ui-icon-schoolicon:after {
    background-image: url("../img/icon/schoolicon.svg");
    padding-top: .5vh;
        }

.ui-icon-plannericon:after {
    background-image: url("../img/icon/plannericon.svg");
    padding-top: .5vh;
        }

.ui-icon-briefcaseicon:after {
    background-image: url("../img/icon/briefcaseicon.svg");
    padding-top: .5vh;
        }

.ui-icon-schooliconactive:after {
    background-image: url("../img/icon/schooliconactive.svg");
    padding-top: .5vh;
        }

.ui-icon-plannericonactive:after {
    background-image: url("../img/icon/plannericonactive.svg");
    padding-top: .5vh;
        }

.ui-icon-briefcaseiconactive:after {
    background-image: url("../img/icon/briefcaseiconactive.svg");
    padding-top: .5vh;
        }

.ui-nodisc-icon.ui-link.ui-btn.ui-icon-schoolicon.ui-btn-icon-top {
    border:none;
}

.ui-nodisc-icon.ui-link.ui-btn.ui-icon-briefcaseicon.ui-btn-icon-top {
    border:none;
}

.ui-nodisc-icon.ui-link.ui-btn.ui-icon-plannericon.ui-btn-icon-top {
    border:none;
}

a#activeicon.ui-nodisc-icon.ui-link.ui-btn.ui-icon-schooliconactive.ui-btn-icon-top{
    color: #219aab;
    border: none;
}


/* T1 - PAGE 1 SEARCH PAGE */ 


/* T1.01 - Subheader */

.subheader {
    text-align: left;
    line-height: 40px;
    height: 40px;
    margin-top: 44px;
    box-shadow: 0px -7px 20px 7px #00000042;

}

.subheadertext {
    padding-left: 10px;
    font-weight: lighter;
    background-color: #ddd;
    color: #219aab;
    text-shadow: none;

}

.subnavbar {
    line-height: 50px;
    height: 50px;
}

.ui-btn-right.ui-link.ui-btn.ui-shadow.ui-corner-all {
    background-color: #219aab;
    color: white;
    text-shadow:  none;
    border-color: #219aab;
}

/* T1.02 - Subheader Filter Panel */

#filterPanel {
    background-color: #99c5cc;
    color: white;
    text-shadow: none;
}

.ui-panel-dismiss-open {
    background: black;
    transition: 2s ease-in;
    opacity: 0.4;
}


.filterHeader {
    text-align: center;
}

#filterClose {
    text-shadow: none;
    color: #eee;
    background: #00000026;
    border: none;
}

#filterApply {
    width: 15vh;
    margin-top: 4vh;
    text-shadow: none;
    color: white;
    background: #53a053;
    border: none;
    box-shadow: 0em 0em 0em 0.15em;
}


/* T1.03 - Body */

#schoolpositions {
    margin-top: 6vh;
}

.ui-btn-icon-right:after {
    background-color: #219aab;
}




/* T2 - PAGE 2 PLANNER */





/* T3.1 - PAGE 3.1 SCHEDULED */







/* T3.2 - PAGE 3.2 PENDING */






/* T3.3 - PAGE 3.3 HISTORY */





/* T4 - PAGE 4 PROFILE */




a.ui-btn-left.ui-link.ui-btn.ui-icon-arrow-l.ui-btn-icon-left.ui-shadow.ui-corner-all {
    background-color: #219aab;
    text-shadow: none;
    color: white;
}




/* T5 - PAGE 5 JOB POST PAGE */

#page5 {
    background-color: #f2f2f2;
}

#map {
        height: 200px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
        padding:0;
        margin:0;
       }

.schoolDetails {
    color: #219aab;
    margin: 0;
    height: 7vh;
}

.schoolDetails h1 {
    text-align: center;
    font-size: 3.5vh;
    font-weight: 400;
    padding-top: 1vh;
}

.schoolDetails h2 {
    font-size: 2vh;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
}


.contactbuttons {
    padding-top: 30vh;
    text-align: center;
}

#schoolmail {
    font-size: 5vh;
    background-color: #219aab;
    border: none;
}

#schoolphone {
    font-size: 5vh;
    background-color: #219aab;
    border: none;
}

#schoolrequest {
    background-color: #219aab;
    border: none;
    font-size: 3vh;
}

#requestButtonContent {
    position: center;
}

.ui-popup-screen {
    opacity: .5;
}



/*///////////////////////////////////////////////////


/* SCHOOL SIDE */ 


/*///////////////////////////////////////////////////


/* S1 - PAGE 1 SEARCH PAGE */ 


/* S1.01 - Subheader */

    /* This is controlled from the Teacher section of this CSS file */

/* S1.02 - Subheader Filter Panel */

    /* This is controlled from the Teacher section of this CSS file */

/* S1.03 - Body */

#teachersavailable {
    margin-top: 6vh;
}

.ui-btn-icon-right:after {
    background-color: #219aab;
}




/* S2 - PAGE 2 PLANNER */





/* S3.1 - PAGE 3.1 Live Jobs */






/* S3.2 - PAGE 3.2 Requests */






/* S3.3 - PAGE 3.3 History */





/* S4 - PAGE 4 PROFILE */





/* S5 - PAGE 5 TEACHER PROFILE PAGE */

















